<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LZAH Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
</head>
<body>

{% include 'includes/_navbar.html' %}

<div class="container">
    {% include "includes/_messages.html" %}
    {% block body %}

    {% endblock %}

</div>
<script src="//cdn.ckeditor.com/4.7.0/basic/ckeditor.js"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
<script>
    CKEDITOR.replace('editor')
</script>
</body>
</html>